.header {
  display: flex;
  align-items: center;
  min-height: 7.5rem;

  .container {
    height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
