.hero {
  &__wrapper {
    font-size: fluid-font(2rem, 1.4rem);
  }
}

.first {
  height: 100vh;
  min-height: 60.0rem;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    height: 100%;
  }

  &__slider {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__inner {
    padding-top: 4.0rem;
    padding-bottom: 4.0rem;
    max-width: 66.7rem;
  }

  &__title {
    font-weight: 600;
    font-size: 6.4rem;
  }

  &__subtitle {
    padding-top: 3rem;
    max-width: 43.9rem;
    font-weight: 400;
    line-height: 162%;
    color: #5D6370;
  }

  &__buttons {
    display: flex;
    padding-top: 5.4rem;
  }

  &__btn-record {
    position: relative;
    padding-right: 6.5rem;
    padding-left: 0.5rem;
    min-width: 23rem;
    max-height: 6rem;
    font-size: 1.4rem;
    transition: background-color 0.3s;
  }

  &__btn-consalt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3.0rem;
    border: 2px solid var(--blue-primary-600);
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    min-width: 18.9rem;
    max-height: 6rem;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #1B273F;
    transition: background-color 0.3s, color 0.3s;
      &:hover {
      color: #fff;
      background-color: var(--blue-primary-600);
      transition: background-color 0.3s, color 0.3s;
      }
  }

  &__pagination {
    position: absolute;
    z-index: 10;
  }

  &__pagination .swiper-pagination-bullet {
    border-radius: initial;
    width: 4rem;
    height: 0.3rem;
    background-color: var(--blue-primary-400);
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    left: calc((100vw - 118.0rem) / 2);
    top: calc(50% + 20.0rem);
    bottom: 21.3rem;
  }
}


