.hero {
  background-color: var(--clr-primary-900);

  &__wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__content {
    padding-top: 7.5rem;
    padding-right: 1.5rem;
    max-width: 57rem;

    @media (max-width: em(992)) {
      max-width: initial;
    }
  }

  &__title {
    padding-bottom: 4rem;
    font-size: fluid-font(4.2rem, 3.2rem);
    line-height: 125%;
    color: #fff;
  }

  &__btn {
    margin-top: 4.3rem;
  }

  &__img {
    position: relative;
    right: -17.5rem;

    @media (max-width: em(1400)) {
      position: initial;
    }

    @media (max-width: em(992)) {
      display: none;
    }
  }
}
