.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.main__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-width: 23rem;
  border-radius: 10px;
  color: var(--clr-primary-600);
  font-weight: 500;
  background: var(--clr-primary-btn);
  transition: background, box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 15px 35px rgba(226, 164, 51, 0.2);
    transition: background, box-shadow 0.3s;
  }
}

.title {
  font-weight: 600;
  font-size: fluid-font(3.6rem, 2.4rem);
  line-height: 155%;
  color: #fff;
}

.descr {
  line-height: 155%;
}
